:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  color: #333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
}

.main-window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.move-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 16px;
  background: #333333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: move;
  /* -webkit-app-region: drag; */

  .move-bar-line {
    width: 60%;
    height: 4px;
    background: #999999;
    border-radius: 4px;
  }

  &:hover {
    .move-bar-line {
      background: #3a82fe;
    }
  }
}
